@import "./styles/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: auto;
}
/*track*/
::-webkit-scrollbar-track {
  background: rgb(2, 21, 38);
  border-radius: 0px;
}
/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(97, 219, 251);
  border-color: rgb(97, 219, 251);
  border-radius: 20px;
}
